<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Insert title here</title>
    <script src="resources/js/sockjs-0.3.4.js"></script>
    <script src="resources/js/stomp.js"></script>
</head>
<body>
<h2>Hi there </h2>
<input id="name">
<button onclick="connect()">Connect</button>
<button onclick="send()">Send</button>
<button onclick="disconnect()">Disconnect</button>
<script type="text/javascript" src="resources/js/app.js">
</script>
</body>
</html>